@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap%22");


body {
  background: url(immagini/sfondo1.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
}

.testata {
  margin: auto;
  width: 85%;
  border: 1px;
  padding: 10px;
  height: 200px;
  background-color: gray;


}

#testata_img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 65%;
}

.menu {
  background-color: white;
  overflow: hidden;
}

.menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;

}

.menu a:hover {
  background-color: rgba(211, 209, 208, 0.731);

}

.menu a:active {
  background-color: rgba(173, 169, 168, 0.731);

}

.menu a.gioco {
  background-color: orange;
  color: black;
}



.Comunità {
  float: right;
  position: absolute;
}

.testata1 {

  margin: auto;
  width: 86%;
  border: 1px;
  padding: 10px;
  background-color: none;

}

.corpotesta {
  margin: auto;
  width: 85%;
  border: 1px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.corpo {
  margin: auto;
  width: 85%;
  border: 1px;
  padding: 10px;
  height: 200px;
  background-color: white;


}

.contenitore {
  margin: auto;
  width: 1000px;


}

.corpo1-2 {
  font-size: 100px;
}

.corpo1-3 {
  margin: auto;
  width: 85%;
  border: 1px;
  padding: 10px;
  height: 255px;
  text-align: center;
  background-color: orange;
}

#corpo1-3 {
  color: white;
  font-size: xx-large;
}


.immagine1 {
  float: right;
}

.centrato {
  width: 40%;
  float: left;
  padding-left: 2%;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;



}

.spazio-bottone {
  bottom: 8%;
  position: relative;
}


.pulsante {
  background-color: rgba(236, 142, 11, 0.906);
  color: white;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: 00.3s;
  cursor: pointer;
  border-radius: 7px;
}



#pulsante1:active {
  background-color:  rgba(189, 119, 21, 0.906);
}

.pulsante:hover {
  background-color: rgba(218, 133, 13, 0.906);
  color: white;
}

.spazio {
  margin: auto;
  width: 85%;
  border: 1px;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
}


.name {
  text-align: center;

}





* {
  font-family: poppins;
}